.none {
    display: none;
}

.register-area {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000ae;
    z-index: 2;
}

.update-area {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000ae;
    z-index: 3;
}

.delete-area {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000ae;
    z-index: 4;
}

.form-products-register {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background: #ffffff;
    margin: auto;
}

.form-products-update {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background: #ffffff;
    margin: auto;
}

.form-products-delete {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background: #ffffff;
    margin: auto;
}